# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

In [2]:
data_insurance = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [3]:
data_insurance.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [4]:
rows_columns = data_insurance.shape
print(rows_columns)

(4008, 11)

In [5]:
# The dataset has 4008 rows and 11 columns.

In [6]:
data_insurance.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [66]:
# Some columns such as Customer, ST, GENDER, Education of the dataframe could be casted as strings, 
# since they only contain text. However Customer Lifetime Value should be a float too, since it represents a percentage.

In [67]:
data_insurance.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [68]:
data_insurance["ST"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [69]:
# ST -> some values can be consolidated into other ones, such as "Cali" and "California". This variable is categorical.

In [70]:
data_insurance["GENDER"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [71]:
# GENDER -> similar to ST, "Femal" and "female" should be consolidated into "F" and "Male" into "M". This variable is categorical.

In [72]:
data_insurance["Education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [73]:
# Education -> consolidate "Bachelor" and "Bachelors". Categorical variable.

In [74]:
data_insurance["Number of Open Complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [75]:
# Number of Open Complaints -> categorical variable.

In [76]:
data_insurance["Policy Type"].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [77]:
# Policy Type -> categorical variable.

In [78]:
data_insurance["Vehicle Class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [79]:
# Vehicle Class -> categorical variable.

In [80]:
# Numerical variables: Customer Lifetime Value, Income, Monthly Premium Auto, Total Claim Amount.

In [81]:
# Customer Lifetime Value: need to remove the % sign and cast it as a float.
CLV_float = data_insurance["Customer Lifetime Value"].str.strip('%').astype(float)

In [82]:
# Customer Lifetime Value
Max_CLValue = CLV_float.max()
Min_CLValue = CLV_float.min()
CLValue_Range = round(CLV_float.max() - CLV_float.min(), 2)

print(f"{Max_CLValue}, {Min_CLValue}, {CLValue_Range}")

5816655.35, 200435.07, 5616220.28

**Customer Lifetime Value**: The range of this variable is very extense, since the minimum value and the maximum are really discrepant.

In [83]:
# Income Range
Max_Income = data_insurance["Income"].max()
Min_Income = data_insurance["Income"].min()
Income_Range = data_insurance["Income"].max() - data_insurance["Income"].min()

print(f"{Max_Income}, {Min_Income}, {Income_Range}")

99960.0, 0.0, 99960.0

**Income:** Also a very wide range, since the incomes of clients start at 0 until almost 100k. This data shows that clients of the insurance company belong to different social classes, which could provide an insight that the range of policies price is adequate to attract all kinds of clients.

In [84]:
# Monthly Premium Auto
Max_MPA = data_insurance["Monthly Premium Auto"].max()
Min_MPA = data_insurance["Monthly Premium Auto"].min()
MPA_Range = data_insurance["Monthly Premium Auto"].max() - data_insurance["Monthly Premium Auto"].min()

print(f"{Max_MPA}, {Min_MPA}, {MPA_Range}")

35354.0, 61.0, 35293.0

**Monthly Premium Auto**: This value starts at 61 until 35354, which is a very wide variation.

In [85]:
# Total Claim Amount
Max_TCA = round(data_insurance["Total Claim Amount"].max(), 2)
Min_TCA = round(data_insurance["Total Claim Amount"].min(), 2)
TCA_Range = round(data_insurance["Total Claim Amount"].max() - data_insurance["Total Claim Amount"].min(), 2)

print(f"{Max_TCA}, {Min_TCA}, {TCA_Range}")

2893.24, 0.38, 2892.86

**Total Claim Amount**: This variable has the less wide range, since its maximum value is the lowest one among the numerical variables.

In [86]:
data_insurance.describe().round(1)

        Income  Monthly Premium Auto  Total Claim Amount
count   1071.0                1071.0              1071.0
mean   39295.7                 193.2               405.0
std    30469.4                1601.2               293.0
min        0.0                  61.0                 0.4
25%    14072.0                  68.0               202.2
50%    36234.0                  83.0               354.7
75%    64631.0                 109.5               532.8
max    99960.0               35354.0              2893.2

**Numerical variables descriptive statistics insights**:

* The average income of clients is aproximately 39295, while the average monthly premium auto corresponds to 193. The average total claim amount is 405.
* There is wide variation of values for the income and the MPA variables, since their standard deviation are almost equal and really higher to their averages, respectively.
* Regarding total claim amount, the standard deviation isn't that elevated.
* The most frequent income for the clients is 36234 and the most frequent monthly premium auto is 83. The most frequent total claim amount is 354.7.

In [87]:
description_di = data_insurance.describe(include=[object])
description_di.drop(["Customer", "Customer Lifetime Value"], axis=1)

,ST,GENDER,Education,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,954,1071,1071,1071,1071
unique,8,5,6,6,3,6
top,Oregon,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
freq,320,457,324,830,780,576

**Categorical variables descriptive statistics insights**:

* According to the descriptive statistics, the clients come from 8 states, but as seen with the unique() method, there are some inconsistencies regarding these values, which provides a mistaken insight.
* For the variable gender, the same error of inputs can be detected from the descriptive statistics, since there aren't 5 types of gender and when seeing the results of the unique() method for this variable, we also see some repetitions of values written in a different way.
* Clients have 6 different education levels. The number of open complaints variable has also 6 unique values.
* There are three types of policies available for clients.
* Clients owns vehicles from 6 different vehicle classes.
* The state where there are more clients is Oregon.
* The most frequent client gender is female and the education level is Bachelor.
* The most sold policy is personal auto and most clients have a four-door car.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [88]:
state_map = {'WA':
             'Washington',
             'AZ':
             'Arizona',
             'Cali':
             'California'}

data_insurance["ST"] = data_insurance["ST"].replace(state_map)

In [89]:
data_insurance["ST"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [90]:
states_series = data_insurance["ST"].value_counts()
states_series.sort_values()

ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [91]:
policy_types = data_insurance["Policy Type"].value_counts()
policy_types

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [92]:
policy_types.max()

780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [7]:
data_insurance.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [13]:
data_pa = data_insurance.loc[data_insurance["Policy Type"]=="Personal Auto"]
data_pa.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042

In [15]:
data_ca = data_insurance.loc[data_insurance["Policy Type"]=="Corporate Auto"]
data_ca.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737

In [25]:
# Checking how many rows the dataframe for "Personal Auto" policies has:
data_pa.shape

(780, 11)

In [26]:
# Calculating the sum of the "Income" column and dividing it by 780, the number of rows:
mean_income_pa = sum(data_pa["Income"])/ 780
round(mean_income_pa, 2)

38180.7

In [27]:
# Checking with the describe method if the average is correct:
round(data_pa.describe(), 2)

         Income  Monthly Premium Auto  Total Claim Amount
count    780.00                780.00              780.00
mean   38180.70                185.70              404.82
std    29952.17               1389.38              286.64
min        0.00                 61.00                0.38
25%    12096.00                 68.00              213.02
50%    35211.50                 82.00              350.63
75%    62774.00                109.00              529.20
max    99790.00              35354.00             2893.24

In [28]:
# Repeating everything for "Corporate Auto" policies:
data_ca.shape

(234, 11)

In [29]:
# Calculating the sum of the "Income" column and dividing it by 234, the number of rows:
mean_income_ca = sum(data_ca["Income"])/ 234
round(mean_income_ca, 2)

41390.31

In [30]:
# Checking with the describe method if the average is correct:
round(data_ca.describe(), 2)

         Income  Monthly Premium Auto  Total Claim Amount
count    234.00                234.00              234.00
mean   41390.31                243.68              415.61
std    31708.87               2305.26              312.68
min        0.00                 61.00                5.40
25%    16325.50                 68.00              203.51
50%    39155.50                 85.00              376.72
75%    69843.00                110.00              537.60
max    99960.00              35353.00             2345.41

In [35]:
print(f"The average income of the clients who have a 'Personal Auto' policy type is {round(mean_income_pa,2)}  and for those who have a 'Corporate Auto' policy type is {round(mean_income_ca, 2)}.")

The average income of the clients who have a 'Personal Auto' policy type is 38180.7  and for those who have a 'Corporate Auto' policy type is 41390.31.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here